body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: white;
}

a:visited {
  color: white;
}

a:hover {
  color: #715526;
  cursor: pointer;
}

.container {
  width: 80%;
  margin: 0 auto;
}

.enter-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: #fefefe;
  justify-content: start;
  align-items: center;
  font-size: 2rem;
}

.enter-container h1 {
  margin-bottom: 0;
}

.enter-container h1 a {
  font-weight: 100;
  font-family: 'Crimson Text', 'Open Sans', serif;
  text-transform: uppercase;
  letter-spacing: 15px;
}

.enter-container h2 {
  font-family: 'UnifrakturCook', cursive;
  text-transform: lowercase;
}

.legbah-grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 74px 1fr 1fr 1fr;
  grid-template-areas: "legbah-header legbah-header legbah-header legbah-header legbah-social" "legbah-navbar legbah-navbar legbah-navbar legbah-navbar legbah-tour-dates" ". legbah-main legbah-main . legbah-tour-dates" ". legbah-main legbah-main . legbah-tour-dates" ". legbah-main legbah-main . legbah-tour-dates";
}

.legbah-header { grid-area: legbah-header; display: flex; justify-content: center; }

.legbah-navbar { grid-area: legbah-navbar; }

.legbah-main { grid-area: legbah-main; }

.legbah-social { grid-area: legbah-social; }

.legbah-tour-dates { grid-area: legbah-tour-dates; }

.socials {
  display: flex;
  justify-content: flex-start;
  align-items: end;
  height: 100%;
  margin-top: 10px;
  flex-direction: row-reverse;
}

.social-icon {
  margin: 0 5px;
}

.social-icon:hover {
  cursor: pointer;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  font-size: 3rem;
  color: #fefefe;
  text-transform: capitalize;
  font-family: 'UnifrakturCook', cursive;
}

.nav-links {
  display: flex;
  margin: 0 25px;
}

.nav-links:hover {
  color: #715526;
  cursor: pointer;
}

.main-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.main-container__item {
  color: #fefefe;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-container__item p {
  margin: 5px 0;
}

.main-container__item-img {
  height: 550px;
  width: 550px;
}
